<a href="https://colab.research.google.com/github/makropolecenia/Book/blob/master/SCRAPER_OWID_MAIL_28_06_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SCRAPER ZRÓDŁA OWID (OURWORLDINDATA.ORG) -9 WSKAZNIKOW W PLIKU ZBIORCZYM CSV

STAN NA 26.06.2021

UWAGI - DO ROZWIAZANIA:

W PLIKU CSV ZNAJDUJE SIĘ CAŁA HISTORIA, DO BAZY WPROWADZIMY TYLKO NAJBARDZIEJ AKTUALNE (NOWE REKORDY) WYMAGA TO SPRAWDZENIA MAXDATY REKORDÓW JUZ ZAPISANYCH W BAZIE

CZY PLIK CSV JEST AKTUALIZOWANY WSTECZNIE?

33102000000, 33103000000

WSKAZNIKI :

21001000000	Przypadki Covid-19 dziennie

21002000000	Przypadki Covid-19 przyrostowo

21005000000	Liczba przypadków Covid-19 na milion obywateli

21005010000	Liczba przypadków Covid-19 śmiertelnych na milion obywateli

22001000000	Całkowita liczba testów

23002000000	Populacja kraju

33102000000	łączna liczba podanych dawek szczepionki

33103000000	Nowe szczepienia

33104000000	Całkowita liczba podanych dawek 
szczepionki na 100 obywateli

MAPOWANIE DOSTEPNYCH DANYCH NA WSKAZNIKI W BAZIE BDM_COVID_EDIT

![image.png]()

GITHUB - ADRESY URL DO PLIKÓW CSV

In [ ]:
#https://github.com/owid/covid-19-data
#https://github.com/owid/covid-19-data/blob/master/public/data/README.md
#https://covid.ourworldindata.org/data/owid-covid-data.csv

SCRAPER Z PLIKU ZBIORCZEGO - owid-covid-data.csv

In [ ]:
#DANE AKTUALIZOWANE - ZBIORCZE - PLIK owid-covid-data.csv


import pandas as pd

data_url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv'

data = pd.read_csv(data_url)

print(data.head())

data

  iso_code continent  ... human_development_index excess_mortality
0      AFG      Asia  ...                   0.511              NaN
1      AFG      Asia  ...                   0.511              NaN
2      AFG      Asia  ...                   0.511              NaN
3      AFG      Asia  ...                   0.511              NaN
4      AFG      Asia  ...                   0.511              NaN

[5 rows x 60 columns]

      iso_code continent  ... human_development_index excess_mortality
0          AFG      Asia  ...                   0.511              NaN
1          AFG      Asia  ...                   0.511              NaN
2          AFG      Asia  ...                   0.511              NaN
3          AFG      Asia  ...                   0.511              NaN
4          AFG      Asia  ...                   0.511              NaN
...        ...       ...  ...                     ...              ...
98633      ZWE    Africa  ...                   0.571              NaN
98634      ZWE    Africa  ...                   0.571              NaN
98635      ZWE    Africa  ...                   0.571              NaN
98636      ZWE    Africa  ...                   0.571              NaN
98637      ZWE    Africa  ...                   0.571              NaN

[98638 rows x 60 columns]

In [ ]:
#ograniczenie listy, wyfiltrowanie listy potrzebnych krajów

data2 = data[data['iso_code'].isin(['POL','AUT','BEL','BGR','HRV','CYP','CZE','DNK','EST','FIN','FRA','GRC','ESP','NLD','IRL','LTU','LUX','LVA','DEU','PRT','ROU','SVK','SVN','SWE','HUN','GBR','ITA'])]

#data2.to_excel('SCRAPER_OWID1_SPRAWDZENIE_WARTOSCI_NA_WEJSCIU.xlsx')

data2

      iso_code continent  ... human_development_index excess_mortality
5685       AUT    Europe  ...                   0.922              NaN
5686       AUT    Europe  ...                   0.922              NaN
5687       AUT    Europe  ...                   0.922              NaN
5688       AUT    Europe  ...                   0.922              NaN
5689       AUT    Europe  ...                   0.922              NaN
...        ...       ...  ...                     ...              ...
93476      GBR    Europe  ...                   0.932              NaN
93477      GBR    Europe  ...                   0.932              NaN
93478      GBR    Europe  ...                   0.932              NaN
93479      GBR    Europe  ...                   0.932              NaN
93480      GBR    Europe  ...                   0.932              NaN

[13427 rows x 60 columns]

In [ ]:
#pobranie odpowiednich kolumn do dalszego przetwarzania 

data3 = data2[['date','iso_code','total_cases','new_cases','total_cases_per_million','total_deaths_per_million','total_vaccinations','new_vaccinations','total_vaccinations_per_hundred','population','total_tests','total_tests_per_thousand']]

data3

             date iso_code  ...  total_tests  total_tests_per_thousand
5685   2020-02-25      AUT  ...          NaN                       NaN
5686   2020-02-26      AUT  ...          NaN                       NaN
5687   2020-02-27      AUT  ...          NaN                       NaN
5688   2020-02-28      AUT  ...          NaN                       NaN
5689   2020-02-29      AUT  ...          NaN                       NaN
...           ...      ...  ...          ...                       ...
93476  2021-06-23      GBR  ...  201822459.0                  2972.961
93477  2021-06-24      GBR  ...          NaN                       NaN
93478  2021-06-25      GBR  ...          NaN                       NaN
93479  2021-06-26      GBR  ...          NaN                       NaN
93480  2021-06-27      GBR  ...          NaN                       NaN

[13427 rows x 12 columns]

In [ ]:
#unpivot dataframu na wielu wskaznikach

df_unpivoted = data3.melt(id_vars=['date','iso_code' ], var_name='var_name', value_name='value_name')

#df_unpivoted.to_excel('SCRAPER_OWID_SPRAWDZENIE_NA_W_ETYKIETACH.xlsx')

df_unpivoted

              date iso_code                  var_name  value_name
0       2020-02-25      AUT               total_cases       2.000
1       2020-02-26      AUT               total_cases       2.000
2       2020-02-27      AUT               total_cases       3.000
3       2020-02-28      AUT               total_cases       3.000
4       2020-02-29      AUT               total_cases       9.000
...            ...      ...                       ...         ...
134265  2021-06-23      GBR  total_tests_per_thousand    2972.961
134266  2021-06-24      GBR  total_tests_per_thousand         NaN
134267  2021-06-25      GBR  total_tests_per_thousand         NaN
134268  2021-06-26      GBR  total_tests_per_thousand         NaN
134269  2021-06-27      GBR  total_tests_per_thousand         NaN

[134270 rows x 4 columns]

In [ ]:

#WPROWADZENIE SŁOWNIKÓW


#etykieta : wskaznik

dict2 ={


        'new_cases':'21001000000', 

        'total_cases':'21002000000',



        'total_cases_per_million':'21005000000', 

        'total_deaths_per_million':'21005010000', 

        'total_tests':' 22001000000', 

        'population':'23002000000',

        'total_vaccinations':'33102000000',

        'new_vaccinations':'33103000000',

        'total_vaccinations_per_hundred':'33104000000'}


print (len (dict2))

9

In [ ]:
#WPROWADZENIE SŁOWNIKÓW

#słownik symbol kraju : id_teryt


dict3 ={

            #'0':'0',
            #'EU28':'1',
            #'EU27_2020':'2',
        
            'POL':'3',
            'AUT':'4',
            'BEL':'5',
            'BGR':'6',
            'HRV':'7',
            'CYP':'8',
            'CZE':'9',
            'DNK':'10',
            'EST':'11',
            'FIN':'12',
            'FRA':'13',
            'GRC':'14',
            'ESP':'15',
            'NLD':'16',
            'IRL':'17',
            'LTU':'18',
            'LUX':'19',
            'LVA':'20',
            #'MT':'21',
            'DEU':'22',
            'PRT':'23',
            'ROU':'24',
            'SVK':'25',
            'SVN':'26',
            'SWE':'27',
            'HUN':'28',
            'GBR':'29',
            'ITA':'30'}

print (len (dict3))

27

In [ ]:


#mapowanie kolumny z symbolami krajów na id_teryt



dict3 ={

            #'0':'0',
            #'EU28':'1',
            #'EU27_2020':'2',
        
            'POL':'3',
            'AUT':'4',
            'BEL':'5',
            'BGR':'6',
            'HRV':'7',
            'CYP':'8',
            'CZE':'9',
            'DNK':'10',
            'EST':'11',
            'FIN':'12',
            'FRA':'13',
            'GRC':'14',
            'ESP':'15',
            'NLD':'16',
            'IRL':'17',
            'LTU':'18',
            'LUX':'19',
            'LVA':'20',
            #'MT':'21',
            'DEU':'22',
            'PRT':'23',
            'ROU':'24',
            'SVK':'25',
            'SVN':'26',
            'SWE':'27',
            'HUN':'28',
            'GBR':'29',
            'ITA':'30'}

print (len (dict3))

df_unpivoted['iso_code']=df_unpivoted['iso_code'].map(dict3)

df_unpivoted

27

              date iso_code                  var_name  value_name
0       2020-02-25        4               total_cases       2.000
1       2020-02-26        4               total_cases       2.000
2       2020-02-27        4               total_cases       3.000
3       2020-02-28        4               total_cases       3.000
4       2020-02-29        4               total_cases       9.000
...            ...      ...                       ...         ...
134265  2021-06-23       29  total_tests_per_thousand    2972.961
134266  2021-06-24       29  total_tests_per_thousand         NaN
134267  2021-06-25       29  total_tests_per_thousand         NaN
134268  2021-06-26       29  total_tests_per_thousand         NaN
134269  2021-06-27       29  total_tests_per_thousand         NaN

[134270 rows x 4 columns]

In [ ]:
#mapowanie kolumny etykiety wskaznika na id_wskaznika

dict2 ={

        'new_cases':'21001000000', 

        'total_cases':'21002000000',

        'total_cases_per_million':'21005000000', 

        'total_deaths_per_million':'21005010000', 

        'total_tests':'22001000000', 

        'population':'23002000000',

        'total_vaccinations':'33102000000',

        'new_vaccinations':'33103000000',

        'total_vaccinations_per_hundred':'33104000000'}


df_unpivoted['var_name']=df_unpivoted['var_name'].map(dict2)

df_unpivoted

              date iso_code     var_name  value_name
0       2020-02-25        4  21002000000       2.000
1       2020-02-26        4  21002000000       2.000
2       2020-02-27        4  21002000000       3.000
3       2020-02-28        4  21002000000       3.000
4       2020-02-29        4  21002000000       9.000
...            ...      ...          ...         ...
134265  2021-06-23       29          NaN    2972.961
134266  2021-06-24       29          NaN         NaN
134267  2021-06-25       29          NaN         NaN
134268  2021-06-26       29          NaN         NaN
134269  2021-06-27       29          NaN         NaN

[134270 rows x 4 columns]

In [ ]:
#formatowanie daty

#df.dtypes

df_unpivoted.dtypes

df_unpivoted['date'] = pd.to_datetime(
                          df_unpivoted['date'],
                          format='%Y-%m-%d')

df_unpivoted

             date iso_code     var_name  value_name
0      2020-02-25        4  21002000000       2.000
1      2020-02-26        4  21002000000       2.000
2      2020-02-27        4  21002000000       3.000
3      2020-02-28        4  21002000000       3.000
4      2020-02-29        4  21002000000       9.000
...           ...      ...          ...         ...
134265 2021-06-23       29          NaN    2972.961
134266 2021-06-24       29          NaN         NaN
134267 2021-06-25       29          NaN         NaN
134268 2021-06-26       29          NaN         NaN
134269 2021-06-27       29          NaN         NaN

[134270 rows x 4 columns]

In [ ]:
# sprawdzenie formatu danych kolumn

df_unpivoted.dtypes

date          datetime64[ns]
iso_code              object
var_name              object
value_name           float64
dtype: object

In [ ]:
#uporzadkowanie kolejnosci kolumn do dalszego przetwarzania 

data=df_unpivoted[['value_name','date','var_name','iso_code']]

#data.to_excel('SCRAPER_OWID_SPRAWDZENIE_PRZED_USUNIECIEM_NA.xlsx')

data

        value_name       date     var_name iso_code
0            2.000 2020-02-25  21002000000        4
1            2.000 2020-02-26  21002000000        4
2            3.000 2020-02-27  21002000000        4
3            3.000 2020-02-28  21002000000        4
4            9.000 2020-02-29  21002000000        4
...            ...        ...          ...      ...
134265    2972.961 2021-06-23          NaN       29
134266         NaN 2021-06-24          NaN       29
134267         NaN 2021-06-25          NaN       29
134268         NaN 2021-06-26          NaN       29
134269         NaN 2021-06-27          NaN       29

[134270 rows x 4 columns]

In [ ]:
# usuniecie wierszy z wartoscią NAN gdziekolwiek jest (brak danych)


data = data.dropna()

data

         value_name       date     var_name iso_code
0               2.0 2020-02-25  21002000000        4
1               2.0 2020-02-26  21002000000        4
2               3.0 2020-02-27  21002000000        4
3               3.0 2020-02-28  21002000000        4
4               9.0 2020-02-29  21002000000        4
...             ...        ...          ...      ...
120834  197392365.0 2021-06-19  22001000000       29
120835  198576291.0 2021-06-20  22001000000       29
120836  199731875.0 2021-06-21  22001000000       29
120837  200621518.0 2021-06-22  22001000000       29
120838  201822459.0 2021-06-23  22001000000       29

[87656 rows x 4 columns]

In [ ]:
#UTWORZENIE PEŁNEGO REKORDU DO BAZY

pd.options.mode.chained_assignment = None 


data.rename(columns = {'value_name':'wartosc'}, inplace = True) 
data.rename(columns = {'date':'data1'}, inplace = True) 
data.rename(columns = {'var_name':'id_wskaznik1'}, inplace = True) 

data.rename(columns = {'iso_code':'id_teryt'}, inplace = True) 


decimals=4

data['wartosc'] = data['wartosc'].apply(lambda x: round(x, decimals)) #zaokraglenie 4 miejsca po przecinku 

print ('data')
print(data)

data['data_wprowadzenia'] = pd .datetime .now ().replace (hour =0 ,minute =0 ,second =0 ,microsecond =0 )
data['data_modyfikacji'] = pd .datetime .now ().replace (hour =0 ,minute =0 ,second =0 ,microsecond =0 )

data ['id_komentarz'] ='1'
data ['id_wprowadzajacego'] ='11'
data ['id_modyfikujacego'] ='11'

data ['data'] = data ['data1'] 
data ['id_zrodlo'] ='24' # DLA OWID ZAWSZE 24

data ['id_wskaznik'] = data ['id_wskaznik1']

print ('data')
print(data)

data2 = data[['wartosc','data_wprowadzenia','data_modyfikacji','id_komentarz','id_wprowadzajacego','id_modyfikujacego','id_teryt','data','id_zrodlo','id_wskaznik']]

print ('data2')
print(data2)


data3 = data2[data2["data"].isin(pd.date_range('1990-01-01', '2021-12-31'))] # wyfiltrowane rekordy dla zakresu dat, można zmienic np dla ostatnich kilku dni   

data3.to_excel('SCRAPER_OWID_OUTPUT.xlsx')

print ('data3 - output')
print(data3)

print (" zakonczenie programu ")

data3

data
            wartosc      data1 id_wskaznik1 id_teryt
0               2.0 2020-02-25  21002000000        4
1               2.0 2020-02-26  21002000000        4
2               3.0 2020-02-27  21002000000        4
3               3.0 2020-02-28  21002000000        4
4               9.0 2020-02-29  21002000000        4
...             ...        ...          ...      ...
120834  197392365.0 2021-06-19  22001000000       29
120835  198576291.0 2021-06-20  22001000000       29
120836  199731875.0 2021-06-21  22001000000       29
120837  200621518.0 2021-06-22  22001000000       29
120838  201822459.0 2021-06-23  22001000000       29

[87656 rows x 4 columns]
data
            wartosc      data1 id_wskaznik1  ...       data id_zrodlo  id_wskaznik
0               2.0 2020-02-25  21002000000  ... 2020-02-25        24  21002000000
1               2.0 2020-02-26  21002000000  ... 2020-02-26        24  21002000000
2               3.0 2020-02-27  21002000000  ... 2020-02-27        24  21002000000
3               3.0 2020-02-28  21002000000  ... 2020-02-28        24  21002000000
4               9.0 2020-02-29  21002000000  ... 2020-02-29        24  21002000000
...             ...        ...          ...  ...        ...       ...          ...
120834  197392365.0 2021-06-19  22001000000  ... 2021-06-19        24  22001000000
120835  198576291.0 2021-06-20  22001000000  ... 2021-06-20        24  22001000000
120836  199731875.0 2021-06-21  22001000000  ... 2021-06-21        24  22001000000
120837  200621518.0 2021-06-22  22001000000  ... 2021-06-22        24  22001000000
120838  201822459.0 2021-06-23  22001000000  ... 2021-06-23        24  22001000000

[87656 rows x 12 columns]
data2
            wartosc data_wprowadzenia  ... id_zrodlo  id_wskaznik
0               2.0        2021-06-28  ...        24  21002000000
1               2.0        2021-06-28  ...        24  21002000000
2               3.0        2021-06-28  ...        24  21002000000
3               3.0        2021-06-28  ...        24  21002000000
4               9.0        2021-06-28  ...        24  21002000000
...             ...               ...  ...       ...          ...
120834  197392365.0        2021-06-28  ...        24  22001000000
120835  198576291.0        2021-06-28  ...        24  22001000000
120836  199731875.0        2021-06-28  ...        24  22001000000
120837  200621518.0        2021-06-28  ...        24  22001000000
120838  201822459.0        2021-06-28  ...        24  22001000000

[87656 rows x 10 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

data3 - output
            wartosc data_wprowadzenia  ... id_zrodlo  id_wskaznik
0               2.0        2021-06-28  ...        24  21002000000
1               2.0        2021-06-28  ...        24  21002000000
2               3.0        2021-06-28  ...        24  21002000000
3               3.0        2021-06-28  ...        24  21002000000
4               9.0        2021-06-28  ...        24  21002000000
...             ...               ...  ...       ...          ...
120834  197392365.0        2021-06-28  ...        24  22001000000
120835  198576291.0        2021-06-28  ...        24  22001000000
120836  199731875.0        2021-06-28  ...        24  22001000000
120837  200621518.0        2021-06-28  ...        24  22001000000
120838  201822459.0        2021-06-28  ...        24  22001000000

[87656 rows x 10 columns]
 zakonczenie programu

            wartosc data_wprowadzenia  ... id_zrodlo  id_wskaznik
0               2.0        2021-06-28  ...        24  21002000000
1               2.0        2021-06-28  ...        24  21002000000
2               3.0        2021-06-28  ...        24  21002000000
3               3.0        2021-06-28  ...        24  21002000000
4               9.0        2021-06-28  ...        24  21002000000
...             ...               ...  ...       ...          ...
120834  197392365.0        2021-06-28  ...        24  22001000000
120835  198576291.0        2021-06-28  ...        24  22001000000
120836  199731875.0        2021-06-28  ...        24  22001000000
120837  200621518.0        2021-06-28  ...        24  22001000000
120838  201822459.0        2021-06-28  ...        24  22001000000

[87656 rows x 10 columns]